.footer {
  background: rgb(241, 241, 241);
  position: relative;
  z-index: 1;
}

.footer::before {
  content: "";
  position: absolute;
  background: url(../../images/bg-pattern-footer-desktop.svg) no-repeat top left;
  background-size: contain;
  width: 40%;
  height: 55%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-media svg:hover path {
  fill: var(--color-1);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 60px;
}

.footer-information {
  display: grid;
  gap: 30px;
  height: max-content;
}

.footer-information li {
  width: max-content;
}

.footer-information li + li {
  margin-top: 10px;
}

.footer-information li:hover {
  text-decoration: underline;
}

hr {
  border: 0.1px solid rgb(214, 212, 212);
}

.attribution p {
  text-align: center;
  padding-bottom: 20px;
}

.attribution a {
  color: rgb(56, 56, 207);
}

.attribution a:hover {
  color: rgb(41, 41, 94);
}
