.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

/* .header::after {
  content: "";
  position: absolute;
  background-image: url(../../images/bg-pattern-intro-right-desktop.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top right;
  top: 0px;
  right: 0px;
} */

.header-nav-items {
  display: flex;
  gap: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.header-nav-items a {
  display: inline-block;
  padding: 10px 0px;
}

.header-nav-items a:hover {
  color: var(--color-3);
  background-color: var(--color-1);
}

.header-nav-items a:not(.button):hover {
  color: var(--color-1);
}

.header-nav .button {
  color: var(--color-1);
  border: 3px solid var(--color-1);
}
