.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.header-nav-items {
  display: flex;
  gap: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.header-nav-items a {
  display: inline-block;
  padding: 10px 0px;
}

.header-nav-items a:not(.button):hover {
  color: var(--color-1);
}

.header-nav .button {
  color: var(--color-1);
  border: 3px solid var(--color-1);
  transition: 0.3s;
}

.header-nav .button:hover {
  color: var(--color-3);
  background-color: var(--color-1);
}

.btn-mobile {
  display: none;
}
/* 
@media (max-width: 1250px) {

} */
