.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.header-nav-items {
  display: flex;
  gap: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.header-nav-items a {
  display: inline-block;
  padding: 10px 0px;
}

.header-nav-items a:not(.button):hover {
  color: var(--color-1);
}

.header-nav .button {
  color: var(--color-1);
  border: 3px solid var(--color-1);
  transition: 0.3s;
}

.header-nav .button:hover {
  color: var(--color-3);
  background-color: var(--color-1);
}

.btn-mobile {
  display: none;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .header-nav-items {
    display: block;
    background: var(--color-1) url(../../images/bg-pattern-mobile-nav.svg)
      no-repeat bottom;
    background-size: 100% 50%;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 72px;
    right: 0px;
    transition: 0.6s;
    z-index: 10;
    height: 0px;
    overflow-y: hidden;
    visibility: hidden;
  }

  .header-nav-items li {
    text-align: center;
  }

  .header-nav-items li:first-child {
    margin-top: 30px;
  }

  .header-nav-items a {
    color: var(--color-3);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header-nav-items a.button {
    padding-left: 80px;
    padding-right: 80px;
  }

  .header-nav-items a:not(.button):hover {
    color: var(--color-2);
  }

  .header-nav.active .header-nav-items {
    visibility: visible;
    height: calc(100vh - 72px);
  }

  /* .header-nav.active .btn-mobile {
    position: relative;
  }

  .header-nav.active .btn-mobile::after {
    content: "";
    position: absolute;
    background: url(../../images/icon-close.svg) no-repeat center;
    background-color: red;
    width: 32px;
    height: 32px;
    top: 0px;
  } */

  .header-nav .button {
    color: var(--color-3);
    border: 3px solid var(--color-3);
    transition: 0.3s;
  }

  .header-nav .button:hover {
    color: var(--color-1);
    background-color: var(--color-3);
  }

  .btn-mobile {
    display: block;
  }
}
