.introduction-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 80px 0px;
  background-color: var(--color-p1);
  box-shadow: inset 0px -250px var(--color-3);
  position: relative;
}

.introduction-content::before {
  content: "";
  position: absolute;
  background: url(../../images/bg-pattern-intro-right-desktop.svg) no-repeat top -80px
    right;
  background-size: contain;
  right: 0px;
  top: 0px;
  width: 40%;
  height: 70%;
}

.introduction-content::after {
  content: "";
  position: absolute;
  background: url(../../images/bg-pattern-intro-left-desktop.svg) no-repeat
    bottom left;
  background-size: contain;
  left: 0px;
  bottom: -20px;
  width: 13%;
  height: 100%;
}

.introduction-grid {
  display: grid;
  align-content: flex-start;
  gap: 30px;
  padding-top: 50px;
  position: relative;
}

.introduction-grid h1::before {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--color-3);
  position: absolute;
  top: 0px;
}

.introduction-grid a.button {
  color: var(--color-3);
  border: 3px solid var(--color-3);
  transition: 0.3s;
}

.introduction-grid a.button:hover {
  color: var(--color-1);
  background-color: var(--color-3);
}

.introduction-information {
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  gap: 60px;
}

.introduction-information h1 {
  color: var(--color-1);
}

.introduction-information h1::before {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--color-2);
  position: absolute;
  top: 0px;
}

.information-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.information-grid img {
  width: 80px;
  height: 80px;
}

.information-items {
  display: grid;
  max-width: 45ch;
  height: max-content;
  gap: 20px;
}

.introduction-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  background: var(--color-p1)
    url(../../images/bg-pattern-how-we-work-desktop.svg) no-repeat top right;
  background-size: contain;
}

.introduction-about h2 {
  font-size: 3rem;
  line-height: 1;
}

.introduction-about a.button {
  color: var(--color-3);
  border: 3px solid var(--color-3);
  transition: 0.3s;
}

.introduction-about a.button:hover {
  color: var(--color-1);
  background-color: var(--color-3);
}
