.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 160px;
  padding-right: 160px;
}

a.button {
  padding: 10px 25px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: inline-block;
  max-width: max-content;
  font: 700 1rem/1.5 "Karla", sans-serif;
}

@media (max-width: 1250px) {
  .container {
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
  }
}
